@charset "utf-8";

/* リセットcss */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* ここまでがリセットcssの内容 */
/* ここからがスタイルcssの内容 */

/* article(main) */

/* 目次 */
.table-of-contents {
    width: 75%;
    border: 1px solid #ccc;      /* 枠線 */
    background-color: #eaefef;   /* 枠内の背景色（灰色） */
    padding: 8px 16px;                /* 内側の余白 */
    display: inline-block;        /* 目次の内容にフィットしたサイズにする */
    border-radius: 8px;          /* 角を丸くする */
}
.table-of-contents li {
    line-height: 2;  /* 行間を広げる */
}
.table-of-contents a {
    text-decoration:none;
}
.table-of-contents a:hover {
  color: blue;
  text-decoration: underline;
}

/* コンテンツ */

code {
    display: block;  /* 追加 */
    background-color: #f0f0f0;
    padding: 4px 6px;
    border-radius: 4px;
    overflow-x: auto;
    line-height:1.5;
    font-size:16px;
}
pre {
    background-color: transparent;  /* preの背景色をリセット */
    padding: 0;
    margin: 0;
}
pre code {
    background-color: #f0f0f0;
    padding: 16px;
    border-radius: 4px;
    overflow-x: auto;  /* 横にはみ出た場合スクロールできるようにする */
    line-height:1.5;
    font-size:16px;
}

/* 表 */
.CommandList h3 {
  font-size:16px;
  margin-bottom:5px;
}
.CommandList table {
    border-collapse: collapse;   /* 枠線を一本にまとめる */
    background-color: #f0f0f0;  /* 表全体の背景色 */
}
.CommandList table th, td {
    border: 1px solid #ccc;     /* セルに枠線を引く */
    padding: 8px;                /* セル内の余白 */
}